* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(54, 53, 53);
  height: 100%;
  width: 100%;
}

.main {
  background-color: darkgray;
  height: 100vh;
  width: 70%;
  position: relative;
  left: 15%;
  padding-top: 10px;
}

/* SIDEBAR */

.container-sidebar {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.sidebar {
  background-color: white;
  width: 120px;
  height: 350px;
  padding: 10px;
  font-size: 22px;
}

.sidebar li {
  list-style-type: none;
}

/* Title */

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 21px;
  padding: 5px;
}

/* Header */

.header {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  width: 40%;
}

/* BOXES */

.thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 200px;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15%;
  position: relative;
  bottom: 350px;
  font-size: 25px;
  border-bottom: 40px solid rgb(61, 59, 59);
}
