* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: grey;
  height: 100%;
  width: 100%;
}

/* SIDEBAR */
.container-sidebar {
  display: inline-flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: flex-start;
  position: relative;
  top: 60px;
}
.sidebar {
  background-color: white;
  width: 120px;
  height: 350px;
  padding: 10px;
}

.sidebar li {
  list-style-type: none;
}

/* Title */

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 21px;
  padding: 5px;
}

/* Header */

.header {
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  width: 40%;
}

/* BOXES */

.thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 22%;
  position: relative;
  bottom: 290px;
  font-size: 25px;
  border-bottom: 40px solid rgb(61, 59, 59);
}
